/* Paleta de Cores */
:root {
    --primary-color: #73513D; 
    --secondary-color: #A6761C; 
    --accent-color: #A6A498; 
    --text-color: #c1b98b; 
    --background-color: #000000; 
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: var(--text-color);
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

#hero {
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
}

#hero h2 {
    margin: 0;
    color: var(--text-color);
}

#hero img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

#about {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
}

#curiosities {
    padding: 20px;
    background-color: var(--secondary-color);
    overflow: hidden;
    text-align: center;
}

.card {
    width: 30%;
    margin: 1.20%;
    background-color: var(--background-color);
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: inline-block;
}
#curiosities .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#education, #skills {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}

footer h2 {
    margin: 0;
}

footer p {
    margin: 5px 0;
}